<h2>About</h2>
<div class="page-control" data-role="page-control">

	<ul>
	    <li class="active"><a href="#frame1">Mad Lab</a></li>
	    <li><a href="#frameN">Stylego</a></li>
	    <li><a href="#frameN">Taẅon</a></li>
	    <li><a href="#frameN">Vince Yého</a></li>
	</ul>

	<div class="frames">
	    <div class="frame active" id="frame1"> 
	    	<div class="page snapped">
	    		<%= image_tag('bg.jpg', :width => 420) %>
	    	</div>
			<div class="page fill">
				
			</div>
	    </div>
	    <div class="frame" id="frameN">
	    	<div class="page snapped">
	    		<%= image_tag('bg.jpg', :width => 420) %>
	    	</div>
			<div class="page fill">
				
			</div>
	    </div>
	    <div class="frame" id="frameN">
	    	<div class="page snapped">
	    		<%= image_tag('bg.jpg', :width => 420) %>
	    	</div>
			<div class="page fill">
				
			</div>
	    </div>
	    <div class="frame" id="frameN">
	    	<div class="page snapped">
	    		<%= image_tag('bg.jpg', :width => 420) %>
	    	</div>
			<div class="page fill">
				
			</div>
	    </div>
	</div>
</div>