<!DOCTYPE html>
<html>
<head>
  <title>Madlab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page secondary">
    <div class="page-header">
        <div class="page-header-content">
        	<h1>Mad Lab Misik</h1>
        </div>
    </div>

    <div class="page-region">
        <div class="page-region-content">
            <%= yield %>
        </div>
    </div>
</div>
</body>
</html>
